#wrap {
  min-height: 100%;
  height: auto !important;
  /* height: 100%; */
  margin: 0 auto -60px;
}
.form-signin {
  /* background: gray; */
  border: #f0f0f0 1px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: white;
}
body {
  background: #f5f5f5;
}